/* здесь используйте глобальные селекторы img, body, html и так далее */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  line-height: 18px;
}

img {
  max-width: 100%;
  height: auto;
}

