/* здесь используйте глобальные переменные */
$secondary-text: "Lato", "Arial", sans-serif;

$width-only-mobile: 767px;
$width-tablet: 768px;
$width-desktop: 1440px;

$text-color: #444444;
$basic-green: #68b738;
$basic-grey: #f2f2f2;
