.button {
  display: block;
  padding: 10px;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: #ffffff;
  background-color: $basic-green;

  &:hover {
    background-color: #5eaa2f;
  }

  &:focus {
    outline: none;
    background-color: #5eaa2f;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
}
