.contacts {
  @media (min-width: $width-desktop) {
    margin: 0 auto;
    display: grid;
  }
}

.contacts__container {
  margin: 0;
  width: 100%;
  padding: 26px 20px;
  display: grid;
  grid-template-columns: 140px 140px;
  justify-content: space-between;
  background-color: $basic-grey;

  &--index {
    background-color: #ffffff;
  }

  @media (min-width: $width-tablet) {
    padding: 60px 70px 62px;
    grid-template-columns: 170px 170px;
  }

  @media (min-width: $width-desktop) {
    position: relative;
    margin: 96px auto 106px;
    padding: 60px;
    padding-left: 80px;
    grid-template-columns: 175px 175px;
    left: -327px;
    width: 565px;
    grid-column: 1 / -1;
    grid-row: 1 / -1;
    background-color: #ffffff;
    z-index: 1;
  }
}

.contacts__title {
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;

  @media (min-width: $width-tablet) {
    width: 170px;
    font-size: 20px;
    line-height: 26px;
  }
}

.contacts__text {
  margin: 0;
  font-family: $secondary-text;
  line-height: 20px;

  @media (min-width: $width-tablet) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 170px;
    text-align: end;
  }

  @media (min-width: $width-desktop) {
    text-align: start;
  }
}
