.contacts__container {
  margin: 0;
  width: 100%;
  padding: 26px 20px;
  display: grid;
  grid-template-columns: 140px 140px;
  justify-content: space-between;

  @media (min-width: $width-tablet) {
    margin: 0 auto;
    width: $width-tablet;
    padding: 60px 70px;
    grid-template-columns: 170px 170px;
  }
}

.contacts__title {
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;

  @media (min-width: $width-tablet) {
    width: 170px;
    font-size: 20px;
    line-height: 26px;
  }
}

.contacts__text {
  margin: 0;
  font-family: $secondary-text;
  line-height: 20px;

  @media (min-width: $width-tablet) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 170px;
    text-align: end;
  }
}

.contacts__pic {
  margin: 0 auto;
  display: block;
}
