.container {
  margin: 0 20px;

  @media (min-width: $width-tablet) {
    margin: 0 30px;
  }

  @media (min-width: $width-desktop) {
    margin: 0 auto;
    width: 1220px;
  }
}

.container__heading {
  &--line::after {
    content: "";
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    height: 2px;
    background-color: $basic-green;
    z-index: -1;
  }

  &--line span {
    margin-left: -40px;
    padding: 0 40px;
    background-color: #ffffff;
  }

  @media (min-width: $width-tablet) {
    &--line::after {
      top: 14px;
    }

    &--line span {
      margin-left: 0;
      display: inline-block;
    }
  }

  @media (min-width: $width-desktop) {
    &--line::after {
      top: 18px;
    }

    &--line span {
      margin-left: -40px;
    }
  }
}
