.copyright {
  padding: 10px 0;
  display: block;
  position: relative;
  font-family: $secondary-text;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  color: $text-color;

  &::after {
    content: "";
    position: absolute;
    top: calc(50% - 17px);
    right: 0;
    width: 27px;
    height: 34px;
    mask-image: url("../../icons/stack.svg#icon-html-academy");
    background-color: #666666;
  }

  &:hover {
    opacity: 0.6;

    &::after {
      background-color: $basic-green;
    }
  }

  &:focus {
    opacity: 0.6;
    outline: none;

    &::after {
      background-color: $basic-green;
    }
  }

  &:active {
    opacity: 0.3;

    &::after {
      background-color: $basic-green;
    }
  }

  @media (min-width: $width-tablet) {
    margin: 0;
    margin-right: auto;
    padding-left: 6px;

    &::after {
      right: -51px;
    }
  }
}
