.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  font-family: $secondary-text;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  color: $text-color;

  &__logo {
    color: #666666;
  }

  &:hover .copyright__logo {
    color: $basic-green;
  }

  &:focus {
    outline: none;

    & .copyright__logo {
      color: $basic-green;
    }
  }

  &:active {
    opacity: 0.3;

    & .copyright__logo {
      color: $basic-green;
    }
  }

  @media (min-width: $width-tablet) {
    margin-top: 2px;
  }
}
