.nav {
  position: absolute;
  width: 100%;
  top: 65px;
  left: 0;
  z-index: 2;

  @media (max-width: $width-only-mobile) {
    &--no-js {
      position: static;
    }
  }

  @media (min-width: $width-tablet) {
    position: static;
    width: 460px;
  }

  @media (min-width: $width-desktop) {
    width: 480px;
  }
}

.nav__button {
  padding: 16px;
  position: absolute;
  top: -50px;
  right: 17px;
  width: 24px;
  height: 24px;
  border: none;
  background-color: #ffffff;

  @media (max-width: $width-only-mobile) {
    .nav--no-js & {
      display: none;
    }
  }

  &--closed {
    right: 13px;
  }

  &::before {
    content: "";
    position: absolute;
    top: 7px;
    left: 4px;
    width: 24px;
    height: 2px;
    background-color: #000000;
  }

  &--opened::before {
    box-shadow: 0 8px 0 0 #000000, 0 16px 0 0 #000000;
  }

  &--closed::before {
    top: 15px;
    left: 4px;
    transform: rotate(45deg);
  }

  &--closed::after {
    content: "";
    position: absolute;
    top: 15px;
    left: 4px;
    width: 24px;
    height: 2px;
    background-color: #000000;
    transform: rotate(-47deg);
  }

  &:hover {
    opacity: 0.6;
  }

  &:focus {
    outline: none;
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
    outline: none;
  }

  @media (min-width: $width-tablet) {
    display: none;
  }
}
