.page-header {
  position: relative;
}

.page-header__container--index {
  @media (min-width: $width-desktop) {
    &::before {
      content: "";
      position: absolute;
      height: 600px;
      top: 0;
      left: calc(50% - 1px);
      right: 0;
      background-image: linear-gradient(to right, #4c4b4f, #4a494d, #403f44);
      z-index: -3;
    }

    &::after {
      content: "";
      position: absolute;
      height: 600px;
      top: 0;
      left: calc(50% - 1px);
      right: 0;
      background-color: $basic-green;
      opacity: 0.85;
      z-index: -3;
    }
  }
}

.page-header__container {
  @media (max-width: $width-only-mobile) {
    margin: 0;
    background-image: url("../../images/logo-text-mobile.svg");
    background-repeat: no-repeat;
    background-position: 50% 23px;
    background-size: 101px 18px;
  }

  @media (min-width: $width-tablet) {
    padding: 25px 0;
    display: flex;
    justify-content: space-between;
    align-items: start;
  }

  @media (min-width: $width-desktop) {
    padding: 55px 0 29px;

    &--index {
      margin-bottom: -143px;
    }
  }
}

.page-header__bar {
  margin: 0 20px;
  padding: 13px 0 11px;

  @media (min-width: $width-tablet) {
    margin: 0;
    padding: 0;
  }

  @media (min-width: $width-desktop) {
    z-index: 2;
  }
}
