.page-header {
  padding: 13px 0 11px;
  position: relative;

  @media (max-width: $width-only-mobile) {
    background-image: url("../../images/logo-text-mobile.svg");
    background-repeat: no-repeat;
    background-position: 50% 46%;
    background-size: 101px 18px;
  }

  @media (min-width: $width-tablet) {
    padding: 25px 0 65px;
  }

  @media (min-width: $width-desktop) {
    padding: 0;
  }
}

.page-header__container {
  @media (min-width: $width-tablet) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @media (min-width: $width-desktop) {
    position: absolute;
    top: 55px;
    left: 0;
    right: 0;
  }
}
