.page-main__heading {
  margin: 0;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: #000000;

  @media (min-width: $width-tablet) {
    font-size: 60px;
    line-height: 60px;
  }
}
