.page-header {
  position: relative;
}

.page-header__container {
  padding: 13px 0 11px;

  @media (max-width: $width-only-mobile) {
    background-image: url("../../images/logo-text-mobile.svg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: 101px 18px;
  }

  @media (min-width: $width-tablet) {
    padding: 25px 0;
    display: flex;
    justify-content: space-between;
    align-items: start;
  }

  @media (min-width: $width-desktop) {
    padding: 55px 0 29px;

    &--index {
      margin-bottom: -143px;
    }
  }
}
