.process {
  @media (min-width: $width-tablet) {
    border-bottom: 1px solid #e6e6e6;
  }

  @media (min-width: $width-desktop) {
    border: none;
  }
}

.process__container {
  padding-bottom: 47px;

  @media (min-width: $width-tablet) {
    padding-bottom: 64px;
  }

  @media (min-width: $width-desktop) {
    padding-bottom: 86px;
  }
}

.process__heading {
  line-height: 40px;
  margin-bottom: 42px;

  @media (min-width: $width-tablet) {
    margin-bottom: 32px;
    line-height: 60px;
  }
}

.process__list {
  display: grid;
  gap: 20px;
  margin: 0;
  padding: 0;
  font-family: $secondary-text;
  list-style: none;

  @media (min-width: $width-tablet) {
    grid-template-columns: 1fr 1fr;
    gap: 53px 58px;
    counter-reset: process;
  }


  @media (min-width: $width-desktop) {
    grid-template-columns: repeat(4, 1fr);
    gap: 80px;
  }
}

.process__item {
  min-height: 60px;
  position: relative;
  margin-left: 80px;

  &::before {
    content: "";
    position: absolute;
    top: -2px;
    left: -80px;
    width: 60px;
    height: 60px;
    background-color: $basic-green;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }

  &--leaf::before {
    background-image: url("../../icons/stack.svg#icon-leaf");
    background-size: 25px 28px;
  }

  &--cup::before {
    background-image: url("../../icons/stack.svg#icon-cup");
    background-size: 26px 29px;
  }

  &--eat::before {
    background-image: url("../../icons/stack.svg#icon-eat");
    background-size: 25px 30px;
  }

  &--time::before {
    background-image: url("../../icons/stack.svg#icon-time");
    background-size: 26px 31px;
  }

  @media (min-width: $width-tablet) {
    margin: 0;
    margin-right: 75px;
    padding: 151px 0 40px;
    counter-increment: process;

    &::before {
      top: 40px;
      left: 0;
      width: 80px;
      height: 80px;
    }

    &::after {
      content: counter(process);
      position: absolute;
      top: 0;
      right: 0;
      font-family: "Oswald", "Arial", sans-serif;
      font-size: 280px;
      line-height: 1;
      color: $basic-grey;
      z-index: -1;
      width: 136px;
    }
  }

  @media (min-width: $width-desktop) {
    margin-right: 0;

    &::after {
      text-align: center;
    }
  }
}

.process__text {
  margin: 0;

  @media (max-width: $width-only-mobile) {
    & br {
      display: none;
    }
  }
}
