.process {
  padding-bottom: 47px;
}

.process__heading {
  line-height: 40px;
  margin-bottom: 42px;

  @media (min-width: $width-tablet) {
    line-height: 60px;
  }
}

.process__list {
  display: grid;
  gap: 20px;
  margin: 0;
  padding: 0;
  font-family: $secondary-text;
  list-style: none;

  @media (min-width: $width-tablet) {
    grid-template-columns: 1fr 1fr;
    gap: 37px 58px;
  }


  @media (min-width: $width-desktop) {
    grid-template-columns: repeat(4, 1fr);
    gap: 80px;
  }
}

.process__item {
  min-height: 60px;
  position: relative;
  margin-left: 80px;

  &::before {
    content: "";
    position: absolute;
    top: -2px;
    left: -80px;
    width: 60px;
    height: 60px;
    background-color: $basic-green;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }

  &--leaf::before {
    background-image: url("../../icons/stack.svg#icon-leaf");
    background-size: 25px 28px;
  }

  &--cup::before {
    background-image: url("../../icons/stack.svg#icon-cup");
    background-size: 26px 29px;
  }

  &--eat::before {
    background-image: url("../../icons/stack.svg#icon-eat");
    background-size: 25px 30px;
  }

  &--time::before {
    background-image: url("../../icons/stack.svg#icon-time");
    background-size: 26px 31px;
  }
}

.process__text {
  margin: 0;
}
