.product {
  padding: 22px 20px 24px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  row-gap: 19px;
  border-bottom: 1px solid #ebebeb;

  @media (min-width: $width-tablet) {
    padding: 15px 37px 40px;
    grid-template-columns: 1fr;
    grid-template-rows: 200px;
    row-gap: 0;
    background-image: linear-gradient(to bottom, transparent 16%, $basic-grey 16%);
    border: none;
  }
}

.product__link-pic {
  margin: auto;
  display: block;
  transition: 0.3s;

  &:hover {
    transform: scale(1.05);
  }

  &:focus:not(:active) {
    outline: none;
    transform: scale(1.05);
  }

  &:active {
    transform: scale(1.05);
    opacity: 0.6;
  }
}

.product__link-text {
  width: 90px;
  display: block;
  text-decoration: none;
  margin-bottom: 14px;
  transition: 0.3s;

  &:hover {
    opacity: 0.6;
    transform: scale(1.05);
  }

  &:focus:not(:active) {
    outline: none;
    opacity: 0.6;
    transform: scale(1.05);
  }

  &:active {
    transform: scale(1.05);
    opacity: 0.3;
  }

  @media (min-width: $width-tablet) {
    margin: 28px auto 13px;
    width: 130px;
  }

  @media (min-width: $width-desktop) {
    margin: 19px auto 17px;
  }
}

.product__title {
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: #222222;

  @media (min-width: $width-tablet) {
    margin: auto;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }
}

.product__list {
  margin: 0;
  display: grid;
  font-family: $secondary-text;
  font-size: 12px;
  line-height: 16px;

  @media (min-width: $width-tablet) {
    margin-bottom: 31px;
    font-size: 16px;
    line-height: 20px;
  }

  @media (min-width: $width-desktop) {
    margin-bottom: 34px;
  }
}

.product__item {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  @media (min-width: $width-tablet) {
    min-height: 32px;
    align-items: center;
    border-bottom: 1px solid #cdcdcd;
  }

  @media (min-width: $width-desktop) {
    min-height: 33px;
  }
}

.product__text {
  margin: 0;
  text-align: end;
}

.product__button {
  width: 100%;
  grid-column: 1 / -1;
}
