.programs {
  padding-bottom: 20px;

  @media (min-width: $width-tablet) {
    padding-bottom: 45px;
  }

  @media (min-width: $width-desktop) {
    padding-top: 83px;
    padding-bottom: 71px;
  }
}

.programs__container {
  display: grid;
  gap: 20px;

  @media (min-width: $width-tablet) {
    gap: 30px;
  }

  @media (min-width: $width-desktop) {
    grid-template-columns: 1fr 1fr;
    gap: 80px;
  }
}

.programs__item {
  padding: 30px 20px 12px;
  background-color: $basic-grey;

  @media (min-width: $width-tablet) {
    padding: 77px 316px 46px 52px;
  }

  @media (min-width: $width-desktop) {
    padding: 77px 61px 47px 52px;
  }
}

.programs__title {
  margin: 0;
  margin-left: 70px;
  margin-bottom: 29px;
  position: relative;
  color: #000000;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  font-weight: 400;

  &::before {
    content: "";
    position: absolute;
    top: -6px;
    left: -70px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: $basic-green;
  }

  &::after {
    content: "";
    position: absolute;
    background-repeat: no-repeat;
  }

  .programs__item--slim &::after {
    top: -9px;
    left: -63px;
    width: 36px;
    height: 50px;
    background-image: url("../../icons/stack.svg#icon-cat-slim");
    background-size: 36px 50px;
  }

  .programs__item--pro &::after {
    top: 5px;
    left: -78px;
    width: 67px;
    height: 28px;
    background-image: url("../../icons/stack.svg#icon-cat-pro");
    background-size: 67px 28px;
  }

  @media (min-width: $width-tablet) {
    margin-left: 0;
    margin-bottom: 24px;
    font-size: 36px;
    line-height: 36px;

    &::before {
      top: 15px;
      left: auto;
      right: -253px;
      width: 200px;
      height: 200px;
    }

    .programs__item--slim &::after {
      top: 4px;
      left: auto;
      right: -223px;
      width: 140px;
      height: 194px;
      background-size: 140px 194px;
    }

    .programs__item--pro &::after {
      top: 58px;
      left: auto;
      right: -287px;
      width: 268px;
      height: 112px;
      background-size: 268px 112px;
    }
  }

  @media (min-width: $width-desktop) {
    margin-left: 162px;
    margin-bottom: 73px;

    &::before {
      top: -30px;
      left: -162px;
      width: 100px;
      height: 100px;
    }

    .programs__item--slim &::after {
      top: -35px;
      left: -147px;
      width: 70px;
      height: 97px;
      background-size: 70px 97px;
    }

    .programs__item--pro &::after {
      top: -10px;
      left: -180px;
      width: 134px;
      height: 56px;
      background-size: 134px 56px;
    }
  }
}

.programs__text {
  margin: 0;
  margin-bottom: 9px;
  padding-bottom: 22px;
  font-family: $secondary-text;

  @media (max-width: $width-only-mobile) {
    border-bottom: 1px solid #d9d9d9;
  }

  @media (min-width: $width-tablet) {
    padding-bottom: 34px;
  }

  @media (min-width: $width-desktop) {
    padding-bottom: 10px;
  }
}


.programs__button {
  position: relative;
  display: inline-block;
  padding: 10px 48px 10px 0;
  line-height: 16px;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  background-color: initial;
  text-align: left;

  &::after {
    content: "";
    position: absolute;
    inset: 0 0 0 calc(100% - 32px);
    margin: auto 0;
    width: 24px;
    height: 10px;
    background-image: url("../../icons/stack.svg#icon-arrow");
    background-repeat: no-repeat;
    background-size: 32px 12px;
    background-position: 100% 50%;
  }

  &:hover {
    background-color: transparent;
    transition: 0.1s;

    &::after {
      width: 32px;
      transition: 0.1s;
    }
  }

  &:focus {
    background-color: transparent;

    &::after {
      width: 32px;
    }
  }

  &:active {
    color: #000000;
    opacity: 0.3;
  }

  @media (min-width: $width-tablet) {
    padding-right: 49px;
    max-width: 156px;
    font-size: 20px;
    line-height: 30px;

    &::after {
      inset: 0 0 0 calc(100% - 24px);
    }
  }
}
