.promo {
  @media (max-width: $width-only-mobile) {
    text-align: center;
    padding: 27px 0 20px;
    color: #ffffff;
    background-image:
      url("../../images/bg-promo-cat-mobile@1x.png"),
      linear-gradient(to right, #63a73c, #61a53a);
    background-repeat: no-repeat;
    background-size: 320px 302px, auto 302px;
    background-position: 50% 0;
    box-shadow: inset 0 -155px 0 0 #ffffff;

    @media (min-resolution: 2dppx) {
      background-image:
        url("../../images/bg-promo-cat-mobile@2x.png"),
        linear-gradient(to right, #63a73c, #61a53a);
    }
  }

  @media (min-width: $width-desktop) {
    margin: 0 auto;
    width: $width-desktop;
    padding-top: 224px;
    background-image:
      url("../../images/bg-promo-cat-desktop@1x.png"),
      linear-gradient(to right, #ffffff 50%, #1e221b 50%);
    background-repeat: no-repeat;
    background-position: 100% 0, 0 0;
    background-size: 720px 694px, auto auto;

    @media (min-resolution: 2dppx) {
      background-image:
        url("../../images/bg-promo-cat-desktop@2x.png"),
        linear-gradient(to right, #ffffff 50%, #64a73c 50%);
    }
  }
}

.promo__container {
  display: flex;
  flex-direction: column;

  @media (min-width: $width-tablet) {
    position: relative;
    min-height: 810px;
    padding-left: 90px;
  }

  @media (min-width: $width-desktop) {
    min-height: 470px;
    padding-left: 80px;
  }
}

.promo__heading {
  margin: 0;
  margin-bottom: 25px;
  color: #ffffff;

  @media (min-width: $width-tablet) {
    margin-bottom: 40px;
    width: 510px;
    color: #000000;
  }
}

.promo__text {
  margin: 0;
  margin-bottom: 29px;
  line-height: 14px;
  text-transform: uppercase;

  @media (min-width: $width-tablet) {
    margin-bottom: 50px;
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $width-desktop) {
    margin-bottom: 52px;
  }
}

.promo__pic {
  @media (min-width: $width-tablet) {
    position: absolute;
    width: 709px;
    height: 609px;
    top: 201px;
    left: 0;
    z-index: -1;
  }

  @media (min-width: $width-desktop) {
    width: 552px;
    height: 499px;
    top: -81px;
    left: 447px;
    z-index: 0;
  }
}

.promo__button {
  margin-top: auto;

  @media (min-width: $width-tablet) {
    margin: 0;
    padding: 14px 26px;
    width: 242px;
    font-size: 20px;
    line-height: 26px;
  }
}
