.promo {
  @media (min-width: $width-tablet) {
    position: relative;
  }

  @media (min-width: $width-desktop) {
    padding: 145px 0 0;
  }
}

.promo__container {
  margin: 0;
  position: relative;

  @media (min-width: $width-tablet) {
    padding: 40px 0 30px 120px;
  }

  @media (min-width: $width-desktop) {
    margin: 0 auto;
    padding: 78px 0 0 80px;
    position: static;

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 693px;
      background-image:
        image-set(
          url("../../images/bg-promo-cat-desktop@1x.webp") type("image/webp") 1x,
          url("../../images/bg-promo-cat-desktop@2x.webp") type("image/webp") 2x,
          url("../../images/bg-promo-cat-desktop@1x.png") type("image/png") 1x,
          url("../../images/bg-promo-cat-desktop@2x.png") type("image/png") 2x
        ),
        linear-gradient(to right, #ffffff 50%, #515056 50%);
      background-repeat: no-repeat;
      background-size: auto 100%, auto 100%;
      background-position: 100% 0, 100% 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: -2;
    }

    &::after {
      content: "";
      position: absolute;
      height: 693px;
      bottom: 0;
      left: calc(50% - 1px);
      right: 0;
      background-color: $basic-green;
      opacity: 0.85;
      z-index: -2;
    }
  }
}

.promo__content {
  position: relative;

  @media (max-width: $width-only-mobile) {
    margin-bottom: 138px;
    padding: 27px 20px 164px;
    text-align: center;
    color: #ffffff;
    background-image:
      image-set(
        url("../../images/bg-promo-cat-mobile@1x.webp") type("image/webp") 1x,
        url("../../images/bg-promo-cat-mobile@2x.webp") type("image/webp") 2x,
        url("../../images/bg-promo-cat-mobile@1x.png") type("image/png") 1x,
        url("../../images/bg-promo-cat-mobile@2x.png") type("image/png") 2x
      ),
      linear-gradient(to right, #515055, #434247);
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: 50% 50%;
    z-index: 0;

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      right: 0;
      opacity: 0.85;
      background-color: $basic-green;
      z-index: -1;
    }
  }

  &::after {
    content: "";
    position: absolute;
    width: 280px;
    height: 270px;
    background-image:
      image-set(
        url("../../images/bg-promo-eat-mobile@1x.webp") type("image/webp") 1x,
        url("../../images/bg-promo-eat-mobile@2x.webp") type("image/webp") 2x,
        url("../../images/bg-promo-eat-mobile@1x.png") type("image/png") 1x,
        url("../../images/bg-promo-eat-mobile@2x.png") type("image/png") 2x
      );
    background-size: 280px 270px;
    background-repeat: no-repeat;
    left: 0;
    right: 0;
    bottom: -135px;
    margin: 0 auto;
  }

  @media (min-width: $width-tablet) {
    margin-bottom: 50px;

    &::after {
      width: 709px;
      height: 609px;
      background-image:
        image-set(
          url("../../images/bg-promo-eat-tablet@1x.webp") type("image/webp") 1x,
          url("../../images/bg-promo-eat-tablet@2x.webp") type("image/webp") 2x,
          url("../../images/bg-promo-eat-tablet@1x.png") type("image/png") 1x,
          url("../../images/bg-promo-eat-tablet@2x.png") type("image/png") 2x
        );
      background-size: 709px 609px;
      left: -120px;
      bottom: -630px;
      z-index: -1;
    }
  }

  @media (min-width: $width-desktop) {
    position: static;

    &::after {
      background-image:
        image-set(
          url("../../images/bg-promo-eat-desktop@1x.webp") type("image/webp") 1x,
          url("../../images/bg-promo-eat-desktop@2x.webp") type("image/webp") 2x,
          url("../../images/bg-promo-eat-desktop@1x.png") type("image/png") 1x,
          url("../../images/bg-promo-eat-desktop@2x.png") type("image/png") 2x
        );
      background-size: 552px 499px;
      bottom: 51px;
      left: 225px;
      width: 552px;
      height: 499px;
    }
  }
}

.promo__heading {
  margin: 0 auto 25px;
  width: 250px;
  padding: 0;
  color: #ffffff;

  @media (min-width: $width-tablet) {
    margin: 0 0 40px;
    width: 420px;
    color: #000000;
  }
}

.promo__text {
  margin: 0 auto;
  width: 249px;
  line-height: 14px;
  text-transform: uppercase;

  & + & {
    margin-top: 20px;
  }

  @media (min-width: $width-tablet) {
    margin: 0;
    width: 420px;
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $width-desktop) {
    margin-bottom: 52px;
  }
}

.promo__pic {
  @media (min-width: $width-tablet) {
    position: absolute;
    margin: 0 auto;
    width: 709px;
    height: 609px;
    top: 241px;
    left: 0;
    right: 0;
    z-index: -1;
  }

  @media (min-width: $width-desktop) {
    width: 552px;
    height: 499px;
    top: -2px;
    left: 228px;
    z-index: 0;
  }
}

.promo__buttons {
  margin: auto 20px 20px;

  @media (min-width: $width-tablet) {
    margin: 0;
    min-height: 550px;
    width: 420px;
  }

  @media (min-width: $width-desktop) {
    min-height: 238px;
  }
}

.promo__button {
  & + & {
    margin-top: 20px;
  }

  @media (min-width: $width-tablet) {
    padding: 14px 26px;
    width: 242px;
    font-size: 20px;
    line-height: 26px;
  }

  @media (min-width: $width-desktop) {
    margin-right: auto;
  }
}
