.show-more__title {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #111111;
}

.show-more__text {
  font-family: $secondary-text;
  font-size: 12px;
  line-height: 16px;
}

.show-more__button {
  background-color: #f2f2f2;
  color: $text-color;
}
