.site-list {
  display: none;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  border-top: 1px solid #e6e6e6;
  background-color: #ffffff;

  @media (max-width: $width-only-mobile) {
    .nav--no-js & {
      display: block;
    }
  }

  &--opened {
    display: block;
  }

  @media (min-width: $width-tablet) {
    display: flex;
    justify-content: end;
    gap: 26px;
    flex-wrap: wrap;
    font-size: 18px;
    line-height: 24px;
    background-color: transparent;
    border: none;
  }

  @media (min-width: $width-desktop) {
    font-size: 20px;
    line-height: 30px;
    gap: 34px;
    background-color: transparent;
  }
}

.site-list__item {
  border-bottom: 1px solid #e6e6e6;

  .nav--no-js &:last-child {
    border-bottom: none;
  }

  @media (min-width: $width-tablet) {
    border: none;
  }
}

.site-list__link {
  display: block;
  padding: 22px 15px 23px;
  text-decoration: none;
  color: #000000;

  &:hover {
    color: rgba(0, 0, 0, 0.6);
  }

  &:focus {
    outline: none;
    color: rgba(0, 0, 0, 0.6);
  }

  &:active {
    color: rgba(0, 0, 0, 0.3);
  }

  @media (min-width: $width-tablet) {
    position: relative;
    padding: 14px 4px 12px;

    &--current::after {
      content: "";
      position: absolute;
      bottom: 2px;
      left: 4px;
      right: 4px;
      height: 2px;
      background-color: $basic-green;
    }
  }

  @media (min-width: $width-desktop) {
    padding: 16px 0 13px;

    .page-header__container--index & {
      color: #ffffff;
    }

    &--current::after {
      left: 0;
      right: 0;
      bottom: 5px;
    }

    .page-header__container--index &--current::after {
      background-color: #ffffff;
    }

    .page-header__container--index &:hover {
      color: rgba(255, 255, 255, 0.6);
    }

    .page-header__container--index &:focus {
      outline: none;
      color: rgba(255, 255, 255, 0.6);
    }

    .page-header__container--index &:active {
      color: rgba(255, 255, 255, 0.3);
    }
  }
}
