.slider {
  width: 280px;
  height: 256px;
  position: relative;
  justify-self: center;
  touch-action: none;
  z-index: 2;

  @media (min-width: $width-tablet) {
    width: 560px;
    height: 512px;
    margin: 0 auto;
  }
}

.slider__button {
  width: 4px;
  height: 100%;
  position: absolute;
  border: none;
  border-radius: 2px;
  background-color: #666666;
  cursor: pointer;
  left: 50%;
  padding: 0;
  z-index: 3;

  &:hover,
  &:hover::after,
  &:focus,
  &:focus::after {
    background-color: $basic-green;
  }

  &:hover::before,
  &:focus::before {
    border-color: $basic-green;
  }

  &:active,
  &:active::after {
    background-color: #5eaa2f;
  }

  &:active::before {
    border-color: #5eaa2f;
  }

  &:disabled {
    opacity: 0.6;
  }
}

.slider__button::before {
  content: "";
  display: block;
  width: 40px;
  height: 40px;
  background-color: #ffffff;
  border: 2px solid #666666;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.slider__button::after {
  content: "";
  mask-image: url("../../icons/stack.svg#arrows-slider");
  mask-size: 24px 18px;
  mask-repeat: no-repeat;
  width: 24px;
  height: 18px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: block;
  background-color: #666666;
}

.slider__image {
  width: 280px;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
  max-width: none;

  @media (min-width: $width-tablet) {
    width: 560px;
  }
}

.slider__wrapper-before {
  width: 50%;
  left: 0;
  top: 0;
  position: absolute;
  z-index: 2;
  height: 100%;
  overflow: hidden;
  background-color: #eaeaea;
  pointer-events: none;

  @media (min-width: $width-tablet) {
    background-color: #eaeaea;

    &::after {
      content: "";
      width: 100%;
      height: 151px;
      background-color: #ffffff;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
    }
  }

  @media (min-width: $width-desktop) {
    background-color: #f2f2f2;

    &::after {
      height: 134px;
    }
  }
}

.slider__wrapper-after {
  pointer-events: none;
}
