.stocks-form {
  @media (min-width: $width-tablet) {
    padding: 0 38px;
    display: grid;
    grid-template-columns: 1fr 256px;
  }

  @media (min-width: $width-desktop) {
    padding: 0 234px;
  }
}

.stocks-form__input {
  padding: 13px 13px 11px;
  width: 100%;
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  line-height: 30px;
  text-transform: uppercase;
  border: 1px solid #e7e7e7;
  margin-bottom: 16px;

  &:hover {
    border-color: #cdcdcd;
  }

  &:focus {
    outline: 2px solid #444444;
    outline-offset: -2px;
  }

  &:not(:placeholder-shown):invalid {
    outline: 2px solid #ff8282;
    outline-offset: -2px;
  }

  @media (min-width: $width-tablet) {
    margin: 0;
  }

  @media (min-width: $width-desktop) {
    padding: 12px;
  }
}

.stocks-form__button {
  padding: 15px;
  width: 100%;
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  line-height: 26px;
  border: none;
}
